#profileActivities img{
    height: 56px;
    width: 56px;
    object-fit: contain;
    padding: 4px;
}

#profileActivities h5{
    font-weight: bold;
}

#profileActivities h5,
#profileActivities p{
    margin: 0
}
