#profileBio h4{
    line-height: normal;
    height: min-content;
    margin: 0;
}

#profileBio a {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: black;

}



#profileBio a:before {
    content: "... ";
    text-decoration: none;
}
#profileBio .bio-text{
    pointer-events: none;
    cursor: text;
}
#profileBio .bio-text:focus{
    border: 1px gray solid;
    pointer-events: all;
}
