.pencilEditBtn{
    width: 60px;
    height: 60px;
    padding: 0;

    background: none;
    border: none;
    border-radius: 50%;

    color: gray;
    font-size: 30px;
}

.pencilEditBtn:hover{
    color: black;
    background: lightgray;
}